@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$color-dark: #000000;
$color-light: #FFFFFF;
$color-grey: #DDDDDD;
$color-primary: #75389f;
$color-secondary: #218581;
$color-accent: #9eb25d;

a {
    text-decoration: none;
    color: $color-primary;
    font-weight: 600;

    &:hover {
        color: $color-primary;
        text-decoration: underline;
    }
}

.button {
    border: 1px solid $color-grey;
    padding: 6px 20px;
    border-radius: 5px;
    transition: all 0.2s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        transform: scale(.9);
        text-decoration: none;
    }

    &.primary {
        background-color: $color-primary;
        color: $color-light;
    }

    &.secondary {
        background-color: $color-secondary;
        color: $color-light;
    }
}

.bordered {
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 10px;
}

.hover-shadow {
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 10px 2px $color-grey;
    }
}