@import 'base';
@import 'navigation';
@import 'admin';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.login {
    max-width: 400px;
    margin: 0 auto;
}

.trombinoscope {
    .user-card {
        display: flex;
        align-items: flex-start;

        .avatar {
            border-radius: 5px;
        }

        .content {
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid $color-grey;
        }
    }
}

.timesheet {
    .actionbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px 2px $color-grey;
    }
}

.form-border {
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 30px;

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}

.table .actions {
    text-align: right;

    a {
        margin-left: 20px;
    }
}
