@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
a {
  text-decoration: none;
  color: #A434AE;
  font-weight: 600;
}

a:hover {
  color: #A434AE;
  text-decoration: underline;
}

.button {
  border: 1px solid #DDDDDD;
  padding: 6px 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  cursor: pointer;
}

.button.primary {
  background-color: #A434AE;
  color: #FFFFFF;
}

.button.primary:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.button.secondary {
  background-color: #58A4B0;
  color: #FFFFFF;
}

.button.secondary:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.bordered {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px;
}

.hover-shadow {
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 0 10px 2px #DDDDDD;
          box-shadow: 0 0 10px 2px #DDDDDD;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.login {
  max-width: 400px;
  margin: 0 auto;
}

.navigation {
  background-color: #A434AE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

.navigation .container h2 {
  margin: 0;
}

.navigation .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.navigation .container ul li {
  margin: 0 20px;
}

.navigation .container ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.user-card {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.timesheet .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timesheet .card {
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px 2px #DDDDDD;
          box-shadow: 0 0 10px 2px #DDDDDD;
}

.form-border {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 30px;
}

.form-border .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table .actions {
  text-align: right;
}

.table .actions a {
  margin-left: 20px;
}

.admin-dashboard a {
  text-decoration: none;
  color: #000000;
}

.admin-dashboard a .tab {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-dashboard a .tab img {
  padding: 20px 0;
}
/*# sourceMappingURL=main.css.map */