@import 'base';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.navigation {
    background-color: $color-primary;
    display: flex;
    height: 60px;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-light;

        h2 {
            margin: 0;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
                margin: 0 20px;

                a {
                    text-decoration: none;
                    color: $color-light;
                }
            }
        }
    }
}

.user-card {
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.timesheet {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px 2px $color-grey;
    }
}

.form-border {
    border: 1px solid $color-grey;
    border-radius: 5px;
    padding: 30px;

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}

.table .actions {
    text-align: right;

    a {
        margin-left: 20px;
    }
}

.admin-dashboard {
    a {
        text-decoration: none;
        color: $color-dark;

        .tab {
            border: 1px solid $color-grey;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            img {
                padding: 20px 0;
            }
        }
    }
}