body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    background-color: #90dbdb;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
                margin: 0 20px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.user-card {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.timesheet {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px 2px #DDD;
    }
}

.form-border {
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 30px;

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}

.table .actions {
    text-align: right;

    a {
        color: cornflowerblue;
        text-decoration: none;
        margin-left: 20px;
    }
}